body {
	background-image: url("");
	background-repeat: no-repeat;
	margin: 10px;
}

a {
	text-decoration: none;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
}

.headercell{ /* The background of all the headers. Default is grey background with black border on top and bottom */
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color: #000000;
	border-style: solid;
	background-color: #eeeeee;
}

a:link {color: #0000ff}  /* visited link */
a:visited {color: #0000ff}  /* visited link */
a:hover {color: #ff0000}   /* mouse over link */
a:active {color: #ff0000}   /* selected link */

.border { /* Border of images */
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.posttext { /* Entry text */
        color: #111111;
        text-decoration: none;
        font-family: Arial;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
}

.postreadmore{ /* Read more link */
        color: #111111;
        text-decoration: none;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
}


.postcomments { /* Comments link */
        color: #111111;
        text-decoration: none;
        font-family: Arial;
        font-size: 15;
        font-style: normal;
        font-weight: bold;
}

.postattached{ /* Attachments link - not used now */
        color: #111111;
        text-decoration: none;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
}


.postdate { /* Entry date */
        color: #111111;
        text-decoration: none;
        font-family: Arial;
        font-size: 15px;
        font-style: italic;
        font-weight: normal;
}

.posttitle{ /* Entry title */
        color: #111111;
        text-decoration: none;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
}
td.horidiv{ /* Horizontal divider line */
	height: 2px;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
}

td.vertdiv{ /* Verticle divider line - not used now */
        width: 2px;
	border-right-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
}

.alt1{ /* Alternating cells for search and management list */
	background-color: #eeeeee;
}

.alt2{ /* Alternating cells for search and management list */
	background-color: #dddddd;
}

.header { /* Header Text */
	color: #111111;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
}

.smalltext{ /* Tiny Text */
        color: #111111;
        text-decoration: none;
        font-color: #111111;
        font-family: Arial;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
}


.default { /* Default Text */
	color: #111111;
	text-decoration: none;
	font-color: #111111;
	font-family: Arial;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
}

.outside { /* This is the invisible table around everything */
	border-width: 0px;
	border-style: solid;
	border-color: #111111;
}
